/* Custom theme styles */


.container {
    max-width: 960px;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Passion+One:400,900&display=swap');

h1, h2, h3, h4, .navbar-brand {
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
}

h1, h2, h3, h4 {
    font-weight: 900;
    text-align: center;    
}

/*
   * Custom translucent site header
   */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

#about div {
    background-image: url('./img/beerlab-logo.png');
    background-color: #000;
}

#coming-soon {
    background-color: #000;
}

/* 
    * Beer list
    */

.beer {
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0 0;
}

.details {
    font-weight: 500;
    margin-right: 10px;
}

.abv {
    font-size: 150%;
    font-weight: lighter;
    margin-left: 10px;
}

.abv b {
    font-weight: 700;
    font-size: 55%;
}

.social {
    padding-top: 25px;
}
.social li {
    display: inline;
}

/*
   * Extra utilities
   */

.flex-equal>* {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}